* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "HelveticaNeuePro";
  src: url(fonts/HelveticaNeueLTPro-Bd.woff2) format(woff2);
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
body {
  background-color: #000;
  width: 100vw;
  height: 100vh;
}

h3 {
  padding: 50px 70px;
  text-align: center;
  font-family: "HelveticaNeuePro", sans-serif;
  font-size: 24px;
  color: #f6f6f6;
}
#section1 {
  display: flex;
  align-self: center;
  place-self: center;
  gap: 15px;
  flex-direction: row;
  width: fit-content;
}
.inputs {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
#name {
  width: 100px;
}
#email {
  width: 210px;
}
#name,
#email {
  padding: 5px 8px;
  border: 1px solid #3e3e3e;
  border-radius: 8px;
  font-family: "HelveticaNeuePro", sans-serif;
  font-size: 12px;
  background-color: #1c1c1c;
  color: #f6f6f6;
}
#name::placeholder,
#email::placeholder {
  color: #f6f6f6b0;
}
#name:focus,
#email:focus {
  outline: none;
}
#getAvatar {
  padding: 5px 8px;
  border: 1px solid #2dd4bf;
  border-radius: 8px;
  font-family: "HelveticaNeuePro", sans-serif;
  font-size: 12px;
  font-weight: 700;
  background-color: #0f766e;
  color: #f6f6f6;
  opacity: 85%;
}
#getAvatar:hover {
  scale: 1.05;
  opacity: 100%;
  transition: all 0.3s ease;
}
#avatar-tags {
  width: fit-content;
  display: none;
  flex-direction: row;
  gap: 12px;
  align-items: center; /* vertical align */
  background-color: #07233696;
  padding: 6px 16px 6px 8px;
  border: 1px solid #072336;
  border-radius: 50px;
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.6s;
}
.tags {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#avatar {
  width: 28px;
  height: 28px;
  display: none;
  border-radius: 25px;
}
.tags p {
  line-height: 1;
  font-family: "HelveticaNeuePro", sans-serif;
  font-size: 11px;
}
#tagName {
  color: #ffffff;
}
#tagEmail {
  color: #ffffffbb;
}

#team {
  width: 500px;
}
/* API Weather */
.custom-gradient {
  position: absolute;
  inset: 0; /* Equivalente a top: 0; right: 0; bottom: 0; left: 0 */
  z-index: -10; /* Equivalente a -z-10 */
  height: 100%; /* h-full */
  width: 100%; /* w-full */
  display: flex; /* Para centrar elementos si fuera necesario */
  align-items: center; /* items-center */
  padding: 6rem 1.25rem; /* px-5 (1.25rem) y py-24 (6rem) */
  background: radial-gradient(
    125% 125% at 50% 10%,
    #000 40%,
    #63e 100%
  ); /* Degradado radial */
}
:root {
  --bg-color: #09090b;
  --white-color: #fafafa;
  --primary-color: #27272a;
  --secondary-color: #ff6600;
  --border-radius: 18px;
  --box-shadow: 0 0 12px #b0b0b046;
}
h4 {
  margin: 80px 0 40px 0;
  width: fit-content;
  place-self: center;
  font-family: "Geist", sans-serif; /* pedazo fuente locoo */
  font-size: 32px;
  color: var(--white-color);
  text-shadow: 0 0 10px #ff660086;
  z-index: 2;
  letter-spacing: -0.5px;
  background-image: url(../features/mesh-gradient-sol.webp);
  background-size: 150%;
  background-position: center;
  background-repeat: repeat;
  background-clip: text; /* El fondo se aplica al texto */
  color: transparent; /* Para que se vea el fondo */
}
h4:hover {
  opacity: 90%;
  scale: 1.01;
  transition: all 0.2s ease;
}
.icono-sol {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
}
g,
line {
  stroke: var(--secondary-color);
  fill: var(--secondary-color);
}
#weatherForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  place-content: center;
  align-items: center;
  margin: 40px;
}

.inputCiudad {
  display: flex;
  padding: 5px 8px;
  margin: 5px 8px;
  border: none;
  border-radius: 8px;
  font-family: "HelveticaNeuePro", sans-serif;
  font-size: 12px;
  background-color: var(--bg-color);
  color: #f6f6f6;
}
.inputCiudad:focus {
  outline: none; /* Quitamos el borde al estar dentro del elemento */
}
.inputCiudad::placeholder {
  color: #fafafa7c;
}
.icon-input {
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
  height: fit-content;
  border: 1px solid var(--primary-color);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.botonVerify {
  padding: 5px 8px;
  height: fit-content;
  border: 1px solid #2dd4bf;
  border-radius: 8px;
  font-family: "HelveticaNeuePro", sans-serif;
  font-size: 12px;
  font-weight: 700;
  background-color: #0f766e;
  color: #f6f6f6;
  opacity: 85%;
}
.botonVerify:hover {
  scale: 0.95;
  opacity: 85%;
  transition: all 0.3s ease-in;
}

#weather-section {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 400px;
  top: 75px;
  right: 10px;
  padding: 0;
  background-color: #07233696;
  border: 1px solid #072336;
  border-radius: var(--border-radius);
  opacity: 0;
  transition: opacity 0.6s;
}
.img-weather-icons {
  width: 30px;
  aspect-ratio: 1/1;
  align-self: center;
}
h5 {
  color: var(--white-color);
  font-family: "HelveticaNeuePro", sans-serif;
  font-size: 18px;
  text-align: center;
}
h6 {
  color: #ffffffbb;
  font-family: "HelveticaNeuePro", sans-serif;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 450px) {
  input {
    padding: 5px 8px 0 8px;
  }
}
